.container1
{
    margin-top: 40px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-left: 60px;
}

.marks
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.msg
{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-weight: bold;
}

.numbers
{
    display: flex;
    width: 400px;
    justify-content: space-around;
    cursor: pointer;
}

.one{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight
{
    background-color: black;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point
{
    font-weight: bolder;
    font-size: 80px;
}

.txt
{
    margin-top: -25px;
}