.container
{
    display: flex;
    width: 1000px;
    margin-left: 150px;
    margin-top: 80px;
}

.image
{
    width: 540px;
    cursor: pointer;
}

.sideCont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naam
{
    font-weight: bolder;
    width: 450px;
    font-size: 80px;
    line-height: 144px;
    cursor: pointer;
}

.play
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: #fff;
    width: 200px;
    height: 35px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
